spring:
  application:
    name: ecommerce-backend
  data:
    mongodb:
      uri: mongodb://localhost:27017/ecommerce
      database: ecommerce
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: yourVeryLongSecretKeyWithAtLeast32Characters
  expiration: 86400000  # 24 gi? (tính b?ng mili giây)